.sort_component,
.filter_category {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sort_component label,
.filter_category label {
    margin-right: 10px;
    font-weight: bold;
}

.sort_component select,
.filter_category select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
}

.sort_component select:focus,
.filter_category select:focus {
    border-color: #007bff;
}

.sort_component select option,
.filter_category select option {
    padding: 8px;
}

.sort_component {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter_category {
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
